<% include header.ejs %>
<% include top-menus.ejs %>

<!-- contents wrap -->
<div id="page-wapper" class="container">
    <div class="margin-top-30">
        <div class="row">
            <div class="col-sm-8 contents-left">
                <div>
                    <h2 class="section-title"><span class="super-title">Recently released</span>Brand story</h2>
                    <p class="section-description text-xs-center">December 12, 2017</p>
                </div>

                <!-- reviews list -->
                <div class="card-columns">
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">
                                    <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                                    많은 사람의 관심을 끈 리뷰입니다.
                                </h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="brand-list">
                                <div class="description">
                                    <a href="#"><span class="brand">agfaregs</span></a>
                                    <div class="list-tagline">
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="review-evaluation" style="margin: 10px 0 0 0;padding:0">
                                <div class="text-xs-center" id="example-caption-1">User reliability : positive</div>
                                <progress class="progress" value="70" max="100" aria-describedby="User reliability" style="margin:0; padding:0;"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">
                                    <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                                    많은 사람의 관심을 끈 리뷰입니다.
                                </h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="brand-list">
                                <div class="description">
                                    <a href="#"><span class="brand">agfaregs</span></a>
                                    <div class="list-tagline">
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : positive</div>
                                <progress class="progress" value="70" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>

                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">
                                    <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                                    많은 사람의 관심을 끈 리뷰입니다.
                                </h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="brand-list">
                                <div class="description">
                                    <a href="#"><span class="brand">agfaregs</span></a>
                                    <div class="list-tagline">
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : positive</div>
                                <progress class="progress" value="70" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>

                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : negative</div>
                                <progress class="progress progress-danger" value="30" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : neutral</div>
                                <progress class="progress progress-warning" value="50" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : positive</div>
                                <progress class="progress" value="70" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>

                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : negative</div>
                                <progress class="progress progress-danger" value="30" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : neutral</div>
                                <progress class="progress progress-warning" value="50" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : positive</div>
                                <progress class="progress" value="70" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="section-description text-xs-center margin-top-30">December 11, 2017</p>
                <div class="card-columns">
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : negative</div>
                                <progress class="progress progress-danger" value="30" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : neutral</div>
                                <progress class="progress progress-warning" value="50" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : positive</div>
                                <progress class="progress" value="70" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>

                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : negative</div>
                                <progress class="progress progress-danger" value="30" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : neutral</div>
                                <progress class="progress progress-warning" value="50" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="section-description text-xs-center margin-top-30">December 11, 2017</p>
                <div class="card-columns">
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : negative</div>
                                <progress class="progress progress-danger" value="30" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : neutral</div>
                                <progress class="progress progress-warning" value="50" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic1.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : positive</div>
                                <progress class="progress" value="70" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>

                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic2.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : negative</div>
                                <progress class="progress progress-danger" value="30" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="card margin-bottom-30">
                        <a href="#" data-toggle="modal" data-target="#modal">
                            <img class="card-img-top" src="/images/pic3.jpg" alt="Card image cap">
                        </a>
                        <div class="card-block">
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <h4 class="card-title latest-post-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            </a>
                            <p class="reviews-meta">user name, date</p>
                            <div class="review-evaluation">
                                <div class="text-xs-center" id="example-caption-1">User reliability : neutral</div>
                                <progress class="progress progress-warning" value="50" max="100" aria-describedby="example-caption-1"></progress>
                            </div>
                        </div>
                    </div>
                </div>


            </div> <!--리뷰리스트 끝 -->

            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class="badge-category text-uppercase">fashion</span>
                            <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                            <span class="badge-recommend up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                            <span class="badge-recommend down"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                            <span class="badge-recommend normal"><i class="fa fa-minus" aria-hidden="true"></i></span>

                            <h4 class="modal-title">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</h4>
                            <p class="reviews-meta">user name, date</p>
                        </div>
                        <div class="modal-body">
                            <div class="content-box">
                                <img src="/images/pic2.jpg" alt="Card image cap">
                                <p>많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</p>
                                <p>많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</p>
                                <p>많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</p>
                                <p>많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</p>
                            </div>
                            <div class="brand-view">
                                <div class="description">
                                    <a href="#"><span class="brand">agfaregs</span></a>
                                    <div class="list-tagline">
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="brand-comment">
                                    <div class="comment-box">
                                        <div class="comment-content">
                                            <div class="comment-user-thumbnail">
                                                <img src="/images/64x64.png" width="20px;">
                                            </div>
                                            <div class="comment-user-info">
                                                유저이름, 2016-01-02
                                            </div>
                                            <div class="comment-user-comment">
                                                코멘트 내용
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <div class="comment-content">
                                            <div class="comment-user-thumbnail">
                                                <img src="/images/64x64.png" width="20px;">
                                            </div>
                                            <div class="comment-user-info">
                                                유저이름, 2016-01-02
                                            </div>
                                            <div class="comment-user-comment">
                                                코멘트 내용
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <div class="comment-content">
                                            <div class="comment-user-thumbnail">
                                                <img src="/images/64x64.png" width="20px;">
                                            </div>
                                            <div class="comment-user-info">
                                                유저이름, 2016-01-02
                                            </div>
                                            <div class="comment-user-comment">
                                                코멘트 내용
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-box">
                                        <div class="comment-content">
                                            <div class="comment-user-thumbnail">
                                                <img src="/images/64x64.png" width="20px;">
                                            </div>
                                            <div class="comment-user-info">
                                                유저이름, 2016-01-02
                                            </div>
                                            <div class="comment-user-comment">
                                                코멘트 내용
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-comment-write">
                                    <div class="form-group">
                                        <label for="InputIntroduce1">comment</label>
                                        <textarea type="text" class="form-control" id="InputComment1" placeholder="댓글" rows="3"></textarea>
                                    </div>
                                    <p class="text-xs-center">
                                        <button class="btn btn-secondary" type="button">저장</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Modal -->

            <%include sidebar-right.ejs%>


        </div>


    </div>
</div>
<%include footer.ejs%>



<!-- jQuery first, then Tether, then Bootstrap JS. -->
<!--<script src="js/jquery.min.js"></script>-->
<!--<script src="js/tether.min.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->

<!-- customized javascript -->
<script src="/javascripts/withbrandz.js"></script>

<!--<script src="/javascripts/jquery.flexslider.js"></script>-->
</body>
</html>