<% include header.ejs %>
<% include top-menus.ejs %>

        <!-- contents wrap -->
        <div id="page-wapper" class="container">
            <div class="margin-top-30">
                <div class="row">
                    <div class="col-sm-8 contents-left">
                        <div>
                            <h2 class="section-title"><span class="super-title">rating system</span>Reviews</h2>
                            <p class="section-description">많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요.</p>
                        </div>

                        <!-- reviews list -->
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic4.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>

                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic3.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic2.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic1.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic2.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic4.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic3.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic2.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic1.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>
                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>
                        <div class="media post-list">
                            <a class="media-left media-middle" href="#">
                                <div class="post-thumbnail-image">
                                    <img class="media-object" src="/images/pic2.jpg" alt="Generic placeholder image">
                                </div>
                            </a>
                            <div class="media-body reviews-description">
                                <span class="badge-rating text-uppercase"><i class="fa fa-star" aria-hidden="true"></i> 6.8</span>
                                <span class="badge-category text-uppercase">fashtion</span>
                                <h4 class="media-heading">다른 사람들의 관심사를 공유해보세요.</h4>
                                <span class="reviews-meta">user name, date</span>
                                <div>
                                    많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다. 다른 사람들의 관심사를 공유해보세요많은 사람의 관심을 끈 리뷰입니다.
                                </div>

                                <p class="tags">#가나다 #나라다 #가나다</p>
                            </div>
                        </div>

                    </div> <!--리뷰리스트 끝 -->

                    <%include sidebar-right.ejs%>


                </div>


            </div>
        </div>
        <%include footer.ejs%>



<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <!--<script src="js/jquery.min.js"></script>-->
    <!--<script src="js/tether.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->

    <!-- customized javascript -->
    <script src="javascripts/withbrandz.js"></script>
    <!--<script src="/javascripts/jquery.flexslider.js"></script>-->
</body>
</html>