<!-- right sidebar start -->
<div class="col-sm-4 contents-right border-left">

    <h2 class="ranking-title">brand ranking</h2>
    <p class="ranking-subtitle">등록된 평가를 바탕으로 산정된 순위입니다.</p>

    <div class="ranking-box">
        <ul class="media-list">
            <li class="media ranking">
                <a class="media-left" href="#">
                    <img class="media-object" src="images/64x64.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">1. Media heading</h4>
                    <p class="ranking-description">#태그 - 브랜드의 주요 태그를 넣어서....</p>
                </div>
            </li>
            <li class="media ranking">
                <a class="media-left" href="#">
                    <img class="media-object ranking-box-image" src="images/64x64.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p class="ranking-description">등록된 평가를 바탕으로 산정된 순위입니다.</p>
                </div>
            </li>
            <li class="media ranking">
                <a class="media-left" href="#">
                    <img class="media-object ranking-box-image" src="images/64x64.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p class="ranking-description">등록된 평가를 바탕으로 산정된 순위입니다.</p>
                </div>
            </li>
            <li class="media ranking">
                <a class="media-left" href="#">
                    <img class="media-object ranking-box-image" src="images/64x64.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p class="ranking-description">등록된 평가를 바탕으로 산정된 순위입니다.</p>
                </div>
            </li>
            <li class="media ranking">
                <a class="media-left" href="#">
                    <img class="media-object ranking-box-image" src="images/64x64.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p class="ranking-description">등록된 평가를 바탕으로 산정된 순위입니다.</p>
                </div>
            </li>
            <li class="media ranking">
                <a class="media-left" href="#">
                    <img class="media-object ranking-box-image" src="images/64x64.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p class="ranking-description">등록된 평가를 바탕으로 산정된 순위입니다.</p>
                </div>
            </li>
            <li class="media ranking">
                <a class="media-left" href="#">
                    <img class="media-object ranking-box-image" src="images/64x64.png" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p class="ranking-description">등록된 평가를 바탕으로 산정된 순위입니다.</p>
                </div>
            </li>
        </ul>
    </div>
    <hr>
    <form action="#" id="searchform" class="searchform" method="get">
        <input type="text" id="s" name="s" value="Search" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value=='')this.value='Search';" autocomplete="off">
        <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <hr>
    <div>
        <h2 class="section-title"><span class="super-title">sort by</span>categories</h2>
    </div>
    <ul class="main-category">
        <li class="category-list upper-case"><a href="#">cosmetics</a><span class="category-count position-right">10</span></li>
        <li class="category-list upper-case"><a href="#">fashion</a> <span class="category-count position-right">10</span></li>
        <li class="category-list upper-case"><a href="#">sports</a> <span class="category-count position-right">10</span></li>
        <li class="category-list upper-case"><a href="#">electronic</a> <span class="category-count position-right">10</span></li>
        <li class="category-list upper-case"><a href="#">travel</a> <span class="category-count position-right">10</span></li>
        <li class="category-list upper-case"><a href="#">photography</a> <span class="category-count position-right">10</span></li>
        <li class="category-list upper-case"><a href="#">uncategorized</a> <span class="category-count position-right">10</span></li>
    </ul>

    <hr>
</div> <!-- ranking -->