<body id="box-style">
<div class="se-pre-con"></div>
<div id="off-canvas-body">
    <div id="top-bar-sticky-wrapper">

        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav id="top-nav-wrapper">
                            <ul class="top-nav list-unstyled">
                                <li class="menu-item menu-item-depth-0">
                                    <a href="#" class="menu-link main-menu-link">home</a>
                                    <ul class="sub-menu list-unstyled sub-menu-item">
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 1</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 2</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 3</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 4</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 5</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-depth-0">
                                    <a href="#" class="menu-link main-menu-link">post</a>
                                    <ul class="sub-menu list-unstyled sub-menu-item">
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 1</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 2</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 3</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 4</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 5</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-depth-0">
                                    <a href="#" class="menu-link main-menu-link">trend</a>
                                    <ul class="sub-menu list-unstyled sub-menu-item">
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 1</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 2</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 3</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 4</a></li>
                                        <li class="sub-menu-item menu-item"><a href="#" class="sub-menu-link">sub-menu 5</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-depth-0">
                                    <a href="#" class="menu-link main-menu-link">your brand</a>
                                </li>
                                <li class="menu-item menu-item-depth-0">
                                    <a href="#" class="menu-link main-menu-link">blog/notice</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <header class="main-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="/images/main-logo.png" style="width:320px;">
                    <!--<div class="main-logo">-->
                    <!--<h1 class="main-logo-text">-->
                    <!--<span>with<strong>BRAND</strong>z.com</span>-->
                    <!--<span class="main-logo-subtext">YOUR TREND MAGAZINE</span>-->
                    <!--</h1>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </header>

    <div class="main-nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav id="main-nav-wrapper">
                        <ul class="main-nav list-unstyled">
                            <li class="menu-item main-menu-item menu-item menu-item-depth-0 menu-item-object-category">
                                <a href="#" class="menu-link main-menu-link">cosmetics</a>
                                <div class="sub-menu-container">
                                    <ul class="sub-menu menu-odd  menu-depth-1">
                                        <li class="sub-menu-item  menu-item-depth-1 menu-item">
                                            <a href="#" class="menu-link sub-menu-link"><span>서브메뉴아이템 1</span></a>
                                        </li>
                                        <li class="sub-menu-item  menu-item-depth-1 menu-item">
                                            <a href="#" class="menu-link sub-menu-link"><span>서브메뉴아이템 2</span></a>
                                        </li>
                                        <li class="sub-menu-item  menu-item-depth-1 menu-item">
                                            <a href="#" class="menu-link sub-menu-link"><span>서브메뉴아이템 3</span></a>
                                        </li>
                                    </ul>

                                    <ul class="sub-posts">
                                        <li class="col-sm-4">
                                            <article class="post-160 post-box post-box-large-thumbnail">
                                                <div class="post-thumbnail-wrapper">
                                                    <a href="#">
                                                        <img width="360" height="200" src="#" class="attachment-vw_small size-vw_small wp-post-image" alt="8586312056_cf1e6e3b65_o" sizes="(max-width: 360px) 100vw, 360px" kasperskylab_antibanner="on">
                                                    </a>
                                                </div>
                                                <div class="post-box-inner">
                                                    <h3 class="title">
                                                        <a href="#" class="post-box-title" title="#">타이틀을 길게 쓰면 그럴듯 하게 보일 수 도 있을것 같아</a>
                                                    </h3>
                                                    <div class="post-meta header-font">
                                                        <img alt="Boe Boe" src="author6-32x32.jpg" class="avatar" height="32" width="32" kasperskylab_antibanner="on">
                                                        <a class="author-name" href="#" title="#">Boe Boe</a>
                                                        <span class="post-meta-separator">,</span>
                                                        <a href="#" class="post-date" title="Permalink to Morbi dolor sem lacinia id aliquam sed porttitor at mi" rel="bookmark">November 28, 2013</a>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="col-sm-4">
                                            <article class="post-157 post-box post-box-large-thumbnail">
                                                <div class="post-thumbnail-wrapper">
                                                    <a class="swipebox swipebox-video" href="https://vimeo.com/52510120" title="Permalink to Eget feugiat placerat aenean vel blandit ipsum" rel="youtube">
                                                        <span class="post-play-video"></span>
                                                        <img width="360" height="200" src="8117410812_5dfe79c385_o-360x200.jpg" class="attachment-vw_small size-vw_small wp-post-image" alt="8117410812_5dfe79c385_o" srcset="http://envirra.com/themes/presso/wp-content/uploads/2013/11/8117410812_5dfe79c385_o-265x147.jpg 265w, http://envirra.com/themes/presso/wp-content/uploads/2013/11/8117410812_5dfe79c385_o-360x200.jpg 360w" sizes="(max-width: 360px) 100vw, 360px" kasperskylab_antibanner="on">
                                                    </a>
                                                </div>
                                                <div class="post-box-inner">
                                                    <h3 class="title">
                                                        <a href="#" title="Permalink to Eget feugiat placerat aenean vel blandit ipsum" rel="bookmark">Eget feugiat placerat aenean vel blandit ipsum</a>
                                                    </h3>
                                                    <div class="post-meta header-font">
                                                        <img alt="Boe Boe" src="author6-32x32.jpg" class="avatar avatar-32 photo" height="32" width="32" kasperskylab_antibanner="on">
                                                        <a class="author-name" href="#" title="View all posts by Boe Boe">Boe Boe</a>
                                                        <span class="post-meta-separator">,</span>
                                                        <a href="#" class="post-date" title="Permalink to Eget feugiat placerat aenean vel blandit ipsum" rel="bookmark">November 26, 2013</a>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="col-sm-4">
                                            <article class="post-160 post-box post-box-large-thumbnail">
                                                <div class="post-thumbnail-wrapper">
                                                    <a href="#">
                                                        <img width="360" height="200" src="8586312056_cf1e6e3b65_o-360x200.jpg" class="attachment-vw_small size-vw_small wp-post-image" alt="8586312056_cf1e6e3b65_o" srcset="http://envirra.com/themes/presso/wp-content/uploads/2013/11/8586312056_cf1e6e3b65_o-265x147.jpg 265w, http://envirra.com/themes/presso/wp-content/uploads/2013/11/8586312056_cf1e6e3b65_o-360x200.jpg 360w" sizes="(max-width: 360px) 100vw, 360px" kasperskylab_antibanner="on">
                                                    </a>
                                                </div>
                                                <div class="post-box-inner">
                                                    <h3 class="title">
                                                        <a href="#" class="post-box-title" title="#">타이틀을 길게 쓰면 그럴듯 하게 보일 수 도 있을것 같아</a>
                                                    </h3>
                                                    <div class="post-meta header-font">
                                                        <img alt="Boe Boe" src="author6-32x32.jpg" class="avatar" height="32" width="32" kasperskylab_antibanner="on">
                                                        <a class="author-name" href="#" title="#">Boe Boe</a>
                                                        <span class="post-meta-separator">,</span>
                                                        <a href="#" class="post-date" title="Permalink to Morbi dolor sem lacinia id aliquam sed porttitor at mi" rel="bookmark">November 28, 2013</a>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main-menu-item menu-item"><a href="#" class="menu-link">fashion</a></li>
                            <li class="main-menu-item menu-item"><a href="#" class="menu-link">sports</a></li>
                            <li class="main-menu-item menu-item"><a href="#" class="menu-link">electronic</a></li>
                            <li class="main-menu-item menu-item"><a href="#" class="menu-link">travel</a></li>
                            <li class="main-menu-item menu-item"><a href="#" class="menu-link">photography</a></li>
                            <li class="main-menu-item menu-item"><a href="#" class="menu-link">etc</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>