<ul class="main-category margin-clear">
    <li class="category-list upper-case"><a href="/user/brandstory">나의 브랜드 이야기 등록</a></li>
    <li class="category-list upper-case"><a href="/user/brandlist">나의 브랜드 리스트</a></li>
    <li class="category-list upper-case"><a href="/user/trend">my trend *</a></li>
    <li class="category-list upper-case"><a href="/user/list">작성한 글(리뷰,포스트 등등)</a></li>
    <li class="category-list upper-case"><a href="/user/info">사용자 정보</a></li>
</ul>