<% include header.ejs %>
<% include top-menus.ejs %>
        <!-- contents wrap -->
        <div id="page-wapper" class="container">
            <div class="margin-top-30 margin-bottom-30">
                <div class="row">
                    <div class="col-sm-4 contents-left">
                        <%- include user-sidemenu.ejs %>
                    </div>
                    <div class="col-sm-8">
                        <div class="menu-title">
                            <h1 class="text-uppercase">my brand list</h1>
                            <p>내가 등록한 브랜드의 정보를 열람, 수정 할 수 있습니다.</p>
                        </div>
                        <div class="reg-brand-list">
                            <a href="#"><span class="brand">agfaregs <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">agfaregsasdfasdf <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">agfar <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">agfasdfasegs <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">아식스 <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">아디다스 <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">brand <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">agfaregs <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">agfaregs <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">agfaregs <span class="badge-number">12</span></span></a>
                            <a href="#"><span class="brand">agfaregs <span class="badge-number">12</span></span></a>
                        </div>
                        <div class="post-single margin-top-30 margin-bottom-30">
                            <div class="row">
                                <div class="container-fluid">
                                    <ul class="media-list">
                                        <li class="media brand-list">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="/images/64x64.png" alt="Generic placeholder image" style="width:100px; max-width:120px;">
                                            </a>
                                            <div class="media-body" style="width:90%">
                                                <div class="description">
                                                    <div class="title">제목을 약간 길게 써야지 있어보일것 같은 예감</div>
                                                    <a href="#"><span class="brand">agfaregs</span></a>
                                                    <div class="list-tagline">
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                    </div>
                                                </div>
                                                <div class="publish-info">
                                                    <span class="date">2016-01-01</span>
                                                    <span class="publish">비공개</span>
                                                    <span class="recommend">비추천</span>
                                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 10.0</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media brand-list">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="/images/64x64.png" alt="Generic placeholder image" style="width:100px; max-width:120px;">
                                            </a>
                                            <div class="media-body" style="width:90%">
                                                <div class="description">
                                                    <div class="title">제목을 약간 길게 써야지 있어보일것 같은 예감</div>
                                                    <a href="#"><span class="brand">agfaregs</span></a>
                                                    <div class="list-tagline">
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                    </div>
                                                </div>
                                                <div class="publish-info">
                                                    <span class="date">2016-01-01</span>
                                                    <span class="publish">비공개</span>
                                                    <span class="recommend">비추천</span>
                                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 10.0</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media brand-list">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="/images/64x64.png" alt="Generic placeholder image" style="width:100px; max-width:120px;">
                                            </a>
                                            <div class="media-body" style="width:90%">
                                                <div class="description">
                                                    <div class="title">제목을 약간 길게 써야지 있어보일것 같은 예감</div>
                                                    <a href="#"><span class="brand">agfaregs</span></a>
                                                    <div class="list-tagline">
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                    </div>
                                                </div>
                                                <div class="publish-info">
                                                    <span class="date">2016-01-01</span>
                                                    <span class="publish">비공개</span>
                                                    <span class="recommend">비추천</span>
                                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 10.0</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media brand-list">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="/images/64x64.png" alt="Generic placeholder image" style="width:100px; max-width:120px;">
                                            </a>
                                            <div class="media-body" style="width:90%">
                                                <div class="description">
                                                    <div class="title">제목을 약간 길게 써야지 있어보일것 같은 예감</div>
                                                    <a href="#"><span class="brand">agfaregs</span></a>
                                                    <div class="list-tagline">
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                    </div>
                                                </div>
                                                <div class="publish-info">
                                                    <span class="date">2016-01-01</span>
                                                    <span class="publish">비공개</span>
                                                    <span class="recommend">비추천</span>
                                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 10.0</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media brand-list">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="/images/64x64.png" alt="Generic placeholder image" style="width:100px; max-width:120px;">
                                            </a>
                                            <div class="media-body" style="width:90%">
                                                <div class="description">
                                                    <div class="title">제목을 약간 길게 써야지 있어보일것 같은 예감</div>
                                                    <a href="#"><span class="brand">agfaregs</span></a>
                                                    <div class="list-tagline">
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                    </div>
                                                </div>
                                                <div class="publish-info">
                                                    <span class="date">2016-01-01</span>
                                                    <span class="publish">비공개</span>
                                                    <span class="recommend">비추천</span>
                                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 10.0</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media brand-list">
                                            <a class="media-left" href="#">
                                                <img class="media-object" src="/images/64x64.png" alt="Generic placeholder image" style="width:100px; max-width:120px;">
                                            </a>
                                            <div class="media-body" style="width:90%">
                                                <div class="description">
                                                    <div class="title">제목을 약간 길게 써야지 있어보일것 같은 예감</div>
                                                    <a href="#"><span class="brand">agfaregs</span></a>
                                                    <div class="list-tagline">
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                        <a href="#"><span class="tag-item">#asdf</span></a>
                                                        <a href="#"><span class="tag-item">#가다다라</span></a>
                                                    </div>
                                                </div>
                                                <div class="publish-info">
                                                    <span class="date">2016-01-01</span>
                                                    <span class="publish">비공개</span>
                                                    <span class="recommend">비추천</span>
                                                    <span class="rating"><i class="fa fa-star" aria-hidden="true"></i> 10.0</span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                    <p class="text-xs-center">페이지</p>

                                </div>
                            </div>
                        </div>

                        <hr>
                    </div>
                </div>
            </div>
        </div>

    <%include footer.ejs%>


    <!-- customized javascript -->
    <script src="/javascripts/withbrandz.js"></script>
    <!--<script src="/javascripts/jquery.flexslider.js"></script>-->
</body>
</html>